button::-moz-focus-inner {
  border: 0;
}

a:active {
    outline: none;
}

a:focus { 
    outline: none; 
}

a:hover, a:active, a:focus, a:link, a:visited {
  outline-style:solid;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #7fa2eb;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #7fa2eb;
}