.bg-blue { 
  background-color: #7fa2eb; /* Liquid Lavender */
  color: #fbfbfe;
}

.bg-white { 
  background-color: #fbfbfe; /* Eggshell */
  color: #333333;
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}

.navbar {
  margin-bottom: 0;
}

.navbar {
  border: 0;
}

.imagestyle1 {
position:relative;
top:-2px;
-webkit-filter:contrast(85%);
filter:contrast(85%)
}

.banner-large {
  color:#fbfbfe;
  font-size:30pt;
  font-weight:500;
}

.banner-small {
  color:#fbfbfe;
  font-size:18pt;
  line-height: 0.965;
  font-weight:400;
}

.banner-medium {
  color:#fbfbfe;
  font-size:24pt;
  font-weight:400;
}

.banner-text {
  padding-top:4%;
  padding-bottom:4%;
}

.img-border { 
  border:2px solid #333333;
}

.figcaption {
  padding-top:5px;
}