.bg-blue { 
  background-color: #7fa2eb; /* Liquid Lavender */
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #7fa2eb;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #7fa2eb;
}

button::-moz-focus-inner {
  border: 0;
}

video::-moz-focus-inner {
  border: 0;
}

a:focus { 
    outline: none; 
}

.bg-white { 
  background-color: #ffffff; /* Eggshell */
  color: #333333;
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}

.navbar {
  margin-bottom: 0;
}

.navbar {
  border: 0;
}

.imagestyle1 {
position:relative;
top:-2px;
-webkit-filter:contrast(85%);
filter:contrast(85%)
}

.banner-large {
  color:#ffffff;
  font-size:30pt;
  font-weight:500;
}

.banner-small {
  color:#ffffff;
  font-size:18pt;
  line-height: 0.965;
  font-weight:400;
}

.banner-medium {
  color:#ffffff;
  font-size:24pt;
  font-weight:400;
}

.banner-text {
  padding-top:4%;
  padding-bottom:4%;
}

.img-border { 
  border:2px solid #333333;
}

figcaption {
  padding-top:7px;
}

figure {
 padding-top:25px;
 padding-bottom:25px;
}