.bg-blue { 
  background-color: #7fa2eb; /* Liquid Lavender */
  color: #ffffff;
}

a:focus { 
    outline: none; 
}

.bg-white { 
  background-color: #ffffff; /* Eggshell */
  color: #333333;
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}

/* navbar */
.navbar {
  margin-bottom:0;
  padding-left:30px;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar {
  border: 0;
}

.imagestyle1 {
position:relative;
top:-2px;
-webkit-filter:contrast(85%);
filter:contrast(85%)
}

.banner-large {
  font-size:30pt;
  font-weight:500;
}

.banner-small {
  font-size:18pt;
  line-height: 0.965;
  font-weight:400;
}

.banner-medium {
  font-size:24pt;
  font-weight:400;
}

.banner-text {
  padding-top:1%;
  margin-top:1%;
  padding-bottom:1%;
}

.img-border { 
  border:2px solid #333333;
}

figcaption {
  padding-top:7px;
}

figure {
 padding-top:25px;
 padding-bottom:25px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-img {
  width:100%;
  height:190px;
  padding-top:4px;
  background-image:url('../pics/banner_short.jpg');
  background-size:cover;
}
