
/* Background Styling */
body {margin: 0; padding: 0; background-color: #fbfbfe; font: 100 14px Heltetica, Arial, sans-serif; }
a { text-decoration: none; }
a:link, a:visited, a:active { text-decoration: darkblue; color: darkblue; }
a:hover { text-decoration: blue; color: blue; }
p { text-align: justify; overflow: hidden; min-width: 250px; }

/* Format Figures */
figure { display: block; font-style: italic; font-variant: small-caps; text-align: center; }
figcaption { display: block; font-style: italic; font-variant: small-caps; text-align: center; padding-top: 10px; }
figure img { vertical-align: top; max-width: 400px;}
.box-set { overflow: auto; padding-left: 45px; padding-right: 45px; margin: 0;}
.box-right { float: right; padding-right: 0; margin-right: 0; }
.box-left { float: left; padding-left: 0; margin-left: 0; }

/* Format Headers */
.bannertop { font-size: 300%; font-weight: 600; background-color:#7fa2eb; color: #fbfbfe;  padding-left: 45px; padding-right: 45px; margin:0; padding-top: 5%; padding-bottom: 1%; }
.bannerbottom { font-size: 150%; font-weight: 500; background-color:#7fa2eb; color: #fbfbfe; padding-left: 45px; padding-right: 45px; margin:0; padding-top: 1%; padding-bottom: 5%; }

/* Navigation */
nav {   list-style-type: none; padding-top: 0%; padding-bottom: 0%; overflow: hidden; background-color: #fbfbfe; margin: 0; }
li { float: left; margin: 0; }
li a { display: block; color: #7fa2eb; text-align: center; padding: 18px 14px; text-decoration: none; margin: 0; }
li a:hover { background-color: #e0e3eb; }

/* Responsize Styling */
@media only screen and (max-width: 500px) {

}

/* Responsive Grid, columns add to 20 */
* {  box-sizing: border-box; }
.col-1 {width: 5%;}
.col-18 {width: 90%;}
.row:after { content: ""; clear: both; display: block; }
